<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- InitSampleData 빈 -->
	<bean id="initSampleData"
		class="ch04_pjt_01.ems.utils.InitSampleData">
		<property name="sNums">
			<array>
				<value>hbs001</value>
				<value>hbs002</value>
				<value>hbs003</value>
				<value>hbs004</value>
				<value>hbs005</value>
			</array>
		</property>
		<property name="sIds">
			<array>
				<value>rabbit</value>
				<value>hippo</value>
				<value>raccoon</value>
				<value>elephant</value>
				<value>lion</value>
			</array>
		</property>
		<property name="sPws">
			<array>
				<value>p0001</value>
				<value>p0002</value>
				<value>p0003</value>
				<value>p0004</value>
				<value>p0005</value>
			</array>
		</property>
		<property name="sNames">
			<array>
				<value>agatha</value>
				<value>barbara</value>
				<value>chris</value>
				<value>doris</value>
				<value>elva</value>
			</array>
		</property>
		<property name="sAges">
			<array>
				<value>19</value>
				<value>22</value>
				<value>20</value>
				<value>27</value>
				<value>19</value>
			</array>
		</property>
		<property name="sGenders">
			<array>
				<value>M</value>
				<value>W</value>
				<value>W</value>
				<value>M</value>
				<value>M</value>
			</array>
		</property>
		<property name="sMajors">
			<array>
				<value>English</value>
				<value>Korean</value>
				<value>French</value>
				<value>Philosophy</value>
				<value>History</value>
			</array>
		</property>
	</bean>


	<!-- StudentDao 빈 -->
	<bean id="studentDao"
		class="ch04_pjt_01.ems.member.dao.StudentDao" />

	<!-- StudentRegisterService 빈 생성 -->
	<bean id="studentRegisterService"
		class="ch04_pjt_01.ems.member.service.StudentRegisterService">
		<constructor-arg ref="studentDao" />
	</bean>

	<!-- StudentModifyService 빈 생성 -->
	<bean id="studentModifyService"
		class="ch04_pjt_01.ems.member.service.StudentModifyService">
		<constructor-arg ref="studentDao" />
	</bean>

	<!-- StudentDeleteService 빈 생성 -->
	<bean id="studentDeleteService"
		class="ch04_pjt_01.ems.member.service.StudentDeleteService">
		<constructor-arg ref="studentDao" />
	</bean>

	<!-- StudentSelectService 빈 생성 -->
	<bean id="studentSelectService"
		class="ch04_pjt_01.ems.member.service.StudentSelectService">
		<constructor-arg ref="studentDao" />
	</bean>

	<!-- StudentAllSelectService 빈 생성 -->
	<bean id="studentAllSelectService"
		class="ch04_pjt_01.ems.member.service.StudentAllSelectService">
		<constructor-arg ref="studentDao" />
	</bean>

	<!-- PrintStudentInformationService 빈 생성 -->
	<bean id="printStudentInformationService"
		class="ch04_pjt_01.ems.member.service.PrintStudentInformationService">
		<constructor-arg ref="studentAllSelectService" />
	</bean>


	<!-- DBConnectionInfo 빈 -->
	
	<!-- 개발에 이용하는 데이터베이스 빈 생성 -->
	<bean id="dev_DBConnectionInfoDev"
		class="ch04_pjt_01.ems.member.DBConnectionInfo">
		<property name="url" value="000.000.000.000" />
		<property name="userId" value="admin" />
		<property name="userPw" value="0000" />
	</bean>

	<!-- 실제 서비스에 이용하는 데이터베이스 빈 생성 -->
	<bean id="real_DBConnectionInfo"
		class="ch04_pjt_01.ems.member.DBConnectionInfo">
		<property name="url" value="111.111.111.111" />
		<property name="userId" value="master" />
		<property name="userPw" value="1111" />
	</bean>

	<!-- EMSInformationService 빈 -->
	<bean id="eMSInformationService"
		class="ch04_pjt_01.ems.member.service.EMSInformationService">
		<property name="info"
			value="Education Management System program was developed in 2022." />
		<property name="copyRight"
			value="COPYRIGHT(C) 2022 EMS CO., LTD. ALL RIGHT RESERVED. CONTACT MASTER FOR MORE INFORMATION." />
		<property name="ver" value="The version is 1.0" />
		<property name="sYear" value="2022" />
		<property name="sMonth" value="3" />
		<property name="sDay" value="1" />
		<property name="eYear" value="2022" />
		<property name="eMonth" value="4" />
		<property name="eDay" value="30" />
		<property name="developers">
			<list>
				<value>Cheney.</value>
				<value>Eloy.</value>
				<value>Jasper.</value>
				<value>Dillon.</value>
				<value>Kian.</value>
			</list>
		</property>

		<!-- administrators 필드 초기화 -->
		<property name="administrators">
			<map>
				<entry>
					<key>
						<value>Cheney</value>
					</key>
					<value>cheney@springPjt.org</value>
				</entry>
				<entry>
					<key>
						<value>Jasper</value>
					</key>
					<value>jasper@springPjt.org</value>
				</entry>
			</map>
		</property>

		<!-- dbInfos 필드 초기화 -->
		<property name="dbInfos">
			<map>
				<entry>
					<key>
						<value>dev</value>
					</key>
					<ref bean="dev_DBConnectionInfoDev" />	// 개발용 데이터베이스 지정
				</entry>
				<entry>
					<key>
						<value>real</value>
					</key>
					<ref bean="real_DBConnectionInfo" />	// 실제 서비스 데이터베이스 지정
				</entry>
			</map>
		</property>
	</bean>

</beans> 